<a href="https://colab.research.google.com/github/minseok203/python/blob/main/py_B_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **CH1 파이썬 문법**

## 자료형
#### 숫자형
정수 : 123, -2, 0\
실수 : 123, 45, -432, 6.2e9\
8진수 : 0o456, 0o123 \
16진수 : 0xFF, 0x00 \

In [ ]:
a=10
b=20
c=a+b
print(c)

30

#### 변수
* 문자 또는 밑줄로 시작 (beta, _kim)
* 대소문자를 구분한다 (sum, Sum, SUM) → 다 다르게 인식
* 영문자,숫자,밑줄 (A-z,0-9,_)
* 파이썬 키워드는 사용불가

In [ ]:
a=10
b=4
c=a/b #나눗셈
d=a//b #몫
e=a%b #나머지
f=a*b #곱셈
g=a**b #제곱
print(c,d,e,f,g)

2.5 2 2 40 10000

#### 문자열 
1. 큰 따옴표 : "Hello World!"
2. 작은 따옴표 : '대한민국'
3. 큰 따옴표 3개 : """Hello!"""
4. 작은 따옴표 3개 : ''' Life is too short, You need python'''

In [ ]:
myName = "Minseok Kong" #카멜
my_name = "공민석" #스네이크
MyName = "kiki" #파스칼
_my_name = "korea"
MYNAME = "God is love"
my2name = "12345"
#2myname = "9876" X
#my-name = "9876" X
#my name = "9876" X
myStr = '123' #str
myNum = 123 # int 
print(myStr, myNum)
print(type(myStr))
print(type(myNum))

123 123
<class 'str'>
<class 'int'>

In [ ]:
x,y,z = "포도", "딸기", "수박"
print(x)
print(y)
print(z)

포도
딸기
수박

In [ ]:
a=b=c = "오렌지"
print(a)
print(b)
print(c)

오렌지
오렌지
오렌지

In [ ]:
friuts = ["포도", "딸기", "수박"]
x,y,z = friuts
print(x)
print(y)
print(z)

포도
딸기
수박

In [ ]:
x = "Life"
y = "is"
z = "Beautiful"
print(x,y,z)
print(x+y+z)

Life is Beautiful
LifeisBeautiful

In [ ]:
a=1
b=2
c=3
print(a,b,c)
print(a+b+c)

1 2 3
6

#### 데이터 유형
* 텍스트
* 숫자
* 불(bool)

In [ ]:
a=100
b=200
sum = a+b
c=a-b
d=a*b
e=a/b
print(a,"+", b, "=", sum)
print(a, "-", b, "=", c)
print(a, "*", b, "=", d)
print(a, "/", b, "=", e)

100 + 200 = 300
100 - 200 = -100
100 * 200 = 20000
100 / 200 = 0.5

#### input() 함수 이용한 계산기

In [ ]:
a=int(input("첫번째 숫자를 입력하세요: "))
b=int(input("두번째 숫자를 입력하세요: "))
result = a+b
print(a,'+',b,'=',result )
result = a-b
print(a,'-',b,'=',result )
result = a*b
print(a,'*',b,'=',result )
result = a/b
print(a,'/',b,'=',result )

첫번째 숫자를 입력하세요: 20
두번째 숫자를 입력하세요: 2
20 + 2 = 22
20 - 2 = 18
20 * 2 = 40
20 / 2 = 10.0

In [ ]:
a=int(input("첫번째 숫자를 입력하세요: "))
b=int(input("두번째 숫자를 입력하세요: "))
result = a//b
print(a,'//',b,'=',result )
result = a%b
print(a,'%',b,'=',result )
result = a**b
print(a,'**',b,'=',result )

첫번째 숫자를 입력하세요: 10
두번째 숫자를 입력하세요: 4
10 // 4 = 2
10 % 4 = 2
10 ** 4 = 10000

In [ ]:
num1 = input("숫자입력1: ")
num2 = input("숫자입력2: ")
result = num1 + num2
print(type(num1))
print(num1,'+',num2,'=',result)

숫자입력1: 100
숫자입력2: 200
<class 'str'>
100 + 200 = 100200

#quiz: 
## 전화번호, 이름,무게를 입력받아 출력: 
#### 입력한 내용은 이름"00"
#### 전화번호"00" 입니다
#### 무게는 입력한 g수 x 10원=산출 금액 출력
#### 산출금액은 "00"원입니다

In [ ]:
a=input("전화번호를 입력하세요: ")
b=input("이름을 입력하세요: ")
c=int(input("무게를 입력하세요: "))
result=a
print("전화번호는",result,"입니다" )
result=b
print("이름은",result,"입니다" )
result=c
print("무게는",result,"g입니다" )
result=c*10
print("산출금액은",result,"원입니다" )

전화번호를 입력하세요: 010 1234 5678
이름을 입력하세요: 공민석
무게를 입력하세요: 60
전화번호는 010 1234 5678 입니다
이름은 공민석 입니다
무게는 60 g입니다
산출금액은 600 원입니다

#### 2. print() 서식 출력

In [2]:
print("%d" % 123)
print("%5d" % 123)
print("%05d" % 123)

print("%f" % 123.45)
print("%7.1f" % 123.45)
print("%7.3f" % 123.45)

print("%s" % "대한민국")
print("%6s" % "대한민국")

123
  123
00123
123.450000
  123.5
123.450
대한민국
  대한민국

#### Format 함수 : 순서 지정 가능

In [4]:
print("{0:d}{1:5d}{2:05d}".format(123,456,789))

123  45600789

In [5]:
print("{2:d}{1:5d}{0:05d}".format(123,456,789))

789  45600123

#### 서식 출력

In [6]:
print("\n줄바꿈\n연습입니다.")

줄바꿈
연습입니다.

In [13]:
print("\t탭키\t연습")

	탭키	연습

In [15]:
print("글자가 \"강조\"되는 효과1")
print("글자가 \'강조\'되는 효과2")
print("역슬레시 3개출력 \\\\\\")
print(r"\n \t \" \\를 그대로 출력") #그대로 출력

글자가 "강조"되는 효과1
글자가 '강조'되는 효과2
역슬레시 3개출력 \\\
\n \t \" \\를 그대로 출력

#### 관계연산자

In [16]:
a,b = 10,20
print(a==b, a!=b, a>b, a<b, a>=b, a<=b)

False True False True False True

#### 논리연산자

In [20]:
a = 99
print((a>100) and (a<200))
print((a>100)or(a<200))
print(not(a==100))

False
True
True

In [21]:
if(123):
  print("참이면 보입니다")
if(0):
  print("거짓이면 안 보입니다")

참이면 보입니다

#### 퀴즈2 숫자 입력 받아 동전으로 바꿔주는 프로그램 
#### (500원, 100원, 50원, 10원)

In [28]:
bill,c500,c100,c50,c10 = 0,0,0,0,0
bill=int(input("바꿀돈은?:"))
c500 = bill//500
bill%=500
c100=bill//100
bill%=100
c50=bill//50
bill%=50
c10=bill//10
bill%=10
print("500원짜리:%d개" % c500)
print("100원짜리:%d개" % c100)
print("50원짜리:%d개" % c50)
print("10원짜리:%d개" % c10)
print("잔돈:%d원" % bill)

바꿀돈은?:1500
500원짜리:3개
100원짜리:0개
50원짜리:0개
10원짜리:0개
잔돈:0원

####조건문

In [31]:
a=300
if(a<100):
  print("100보다 작음")
else:
  print("100보다 크다")
print("프로그램 끝")

100보다 크다
프로그램 끝

In [32]:
#홀짝 구분
a=int(input("정수를 입력하세요:"))
if(a%2==0):
  print("짝수")
else:
  print("홀수")

정수를 입력하세요:3
홀수

In [33]:
a=120
if(a>50):
  if(a<100):
    print("50<a<100")
  else:
    print("a>100")
else:
  print("a<50")

a>100

In [37]:
fruit=['사과','배','감','포도']
fruit. append('딸기')
if '딸기' not in fruit :
  print("딸기가 있습니다")
print("딸기가 없음") 
print(fruit)

딸기가 없음
['사과', '배', '감', '포도', '딸기']

In [39]:
fruit=['사과','배','감','포도']
fruit. append('딸기')
if '딸기' in fruit :
  print("딸기가 있습니다")
print(fruit)

딸기가 있습니다
['사과', '배', '감', '포도', '딸기']

In [45]:
import random

number=[]
for num in range(0,7):
  number.append(random.randrange(1,46))
print("생성된 리스트", number)

생성된 리스트 [23, 13, 37, 24, 28, 30, 21]

#### 반복문

In [50]:
for i in range(0,3,1): #시작값, 끝값+1,증가값
  print("안녕하세요") #반복내용
  print(i)
print("반갑습니다")

0 안녕하세요
1 안녕하세요
2 안녕하세요
반갑습니다

In [51]:
for i in range(0,3,1): #시작값, 끝값+1,증가값
  print("%d 안녕하세요"% i) #반복내용
  #print(i)
print("반갑습니다")

0 안녕하세요
1 안녕하세요
2 안녕하세요
반갑습니다

In [58]:
for i in range(1,9,1):
  print("%d "% i, end="")
print("\n")
for i in range(1,9,1):
  print("%d"% i, end=" ")

1 2 3 4 5 6 7 8

1 2 3 4 5 6 7 8

In [62]:
sum=0
for i in range(1,11,1):
  sum=sum+i
print("1~10까지 합계:%d" % sum)

1~10까지 합계:55

#### quiz3 : 숫자 입력 받아 1부터 입력된 숫자까지의 합, 곱

In [66]:
sum,num=0,0
num=int(input("숫자를 입력하세요:"))
for i in range(1,num+1):
  sum=sum+i
print("1~num까지 합:%d" % sum)

숫자를 입력하세요:9
1~num까지 합:45

중첩 for문

In [71]:
i,j,k=0,0,0
k=int(input("구구단 단수 입력"))
for i in range(1,10,1):
  print("%d x %d=%2d" %(k,i,k*i))
print("")

구구단 단수 입력9
9 x 1= 9
9 x 2=18
9 x 3=27
9 x 4=36
9 x 5=45
9 x 6=54
9 x 7=63
9 x 8=72
9 x 9=81

In [94]:
i,j,k=0,0,0
for i in range(2,6,1):
  for j in range(1,10,1):
    print("%d x %d=%2d" %(i,j,i*j))
print("")

2 x 1= 2
2 x 2= 4
2 x 3= 6
2 x 4= 8
2 x 5=10
2 x 6=12
2 x 7=14
2 x 8=16
2 x 9=18
3 x 1= 3
3 x 2= 6
3 x 3= 9
3 x 4=12
3 x 5=15
3 x 6=18
3 x 7=21
3 x 8=24
3 x 9=27
4 x 1= 4
4 x 2= 8
4 x 3=12
4 x 4=16
4 x 5=20
4 x 6=24
4 x 7=28
4 x 8=32
4 x 9=36
5 x 1= 5
5 x 2=10
5 x 3=15
5 x 4=20
5 x 5=25
5 x 6=30
5 x 7=35
5 x 8=40
5 x 9=45

#### 과제 2,3,4,5단 옆줄에 6,7,8,9단

In [128]:
i,j=0,0
for i in range(2,6,1):
  for j in range(1,10,1):
    print("%d x %d=%2d \t" %(i,j,i*j), end='')
print("")

a,b=0,0
for a in range(6,10,1):
  for b in range(1,10,1):
    print("%d x %d=%2d \t" %(a,b,a*b), end='')
print("")

2 x 1= 2 	2 x 2= 4 	2 x 3= 6 	2 x 4= 8 	2 x 5=10 	2 x 6=12 	2 x 7=14 	2 x 8=16 	2 x 9=18 	3 x 1= 3 	3 x 2= 6 	3 x 3= 9 	3 x 4=12 	3 x 5=15 	3 x 6=18 	3 x 7=21 	3 x 8=24 	3 x 9=27 	4 x 1= 4 	4 x 2= 8 	4 x 3=12 	4 x 4=16 	4 x 5=20 	4 x 6=24 	4 x 7=28 	4 x 8=32 	4 x 9=36 	5 x 1= 5 	5 x 2=10 	5 x 3=15 	5 x 4=20 	5 x 5=25 	5 x 6=30 	5 x 7=35 	5 x 8=40 	5 x 9=45
6 x 1= 6 	6 x 2=12 	6 x 3=18 	6 x 4=24 	6 x 5=30 	6 x 6=36 	6 x 7=42 	6 x 8=48 	6 x 9=54 	7 x 1= 7 	7 x 2=14 	7 x 3=21 	7 x 4=28 	7 x 5=35 	7 x 6=42 	7 x 7=49 	7 x 8=56 	7 x 9=63 	8 x 1= 8 	8 x 2=16 	8 x 3=24 	8 x 4=32 	8 x 5=40 	8 x 6=48 	8 x 7=56 	8 x 8=64 	8 x 9=72 	9 x 1= 9 	9 x 2=18 	9 x 3=27 	9 x 4=36 	9 x 5=45 	9 x 6=54 	9 x 7=63 	9 x 8=72 	9 x 9=81

In [139]:
a,b=0,0
for a in range(1,10,1):
  for b in range(2,6,1):
    print("%d x %d = %2d" % (b,a,a*b), end='\t')
  print("")
print("\n")

i,j=0,0
for i in range(1,10,1):
  for j in range(6,10,1):
    print("%d x %d = %2d" % (j,i,j*i), end='\t')
  print("")

2 x 1 =  2	3 x 1 =  3	4 x 1 =  4	5 x 1 =  5
2 x 2 =  4	3 x 2 =  6	4 x 2 =  8	5 x 2 = 10
2 x 3 =  6	3 x 3 =  9	4 x 3 = 12	5 x 3 = 15
2 x 4 =  8	3 x 4 = 12	4 x 4 = 16	5 x 4 = 20
2 x 5 = 10	3 x 5 = 15	4 x 5 = 20	5 x 5 = 25
2 x 6 = 12	3 x 6 = 18	4 x 6 = 24	5 x 6 = 30
2 x 7 = 14	3 x 7 = 21	4 x 7 = 28	5 x 7 = 35
2 x 8 = 16	3 x 8 = 24	4 x 8 = 32	5 x 8 = 40
2 x 9 = 18	3 x 9 = 27	4 x 9 = 36	5 x 9 = 45


6 x 1 =  6	7 x 1 =  7	8 x 1 =  8	9 x 1 =  9
6 x 2 = 12	7 x 2 = 14	8 x 2 = 16	9 x 2 = 18
6 x 3 = 18	7 x 3 = 21	8 x 3 = 24	9 x 3 = 27
6 x 4 = 24	7 x 4 = 28	8 x 4 = 32	9 x 4 = 36
6 x 5 = 30	7 x 5 = 35	8 x 5 = 40	9 x 5 = 45
6 x 6 = 36	7 x 6 = 42	8 x 6 = 48	9 x 6 = 54
6 x 7 = 42	7 x 7 = 49	8 x 7 = 56	9 x 7 = 63
6 x 8 = 48	7 x 8 = 56	8 x 8 = 64	9 x 8 = 72
6 x 9 = 54	7 x 9 = 63	8 x 9 = 72	9 x 9 = 81