<a href="https://colab.research.google.com/github/minseok203/python/blob/main/py_B_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **CH1 파이썬 문법**

## 자료형
#### 숫자형
정수 : 123, -2, 0\
실수 : 123, 45, -432, 6.2e9\
8진수 : 0o456, 0o123 \
16진수 : 0xFF, 0x00 \

In [ ]:
a=10
b=20
c=a+b
print(c)

30

#### 변수
* 문자 또는 밑줄로 시작 (beta, _kim)
* 대소문자를 구분한다 (sum, Sum, SUM) → 다 다르게 인식
* 영문자,숫자,밑줄 (A-z,0-9,_)
* 파이썬 키워드는 사용불가

In [ ]:
a=10
b=4
c=a/b #나눗셈
d=a//b #몫
e=a%b #나머지
f=a*b #곱셈
g=a**b #제곱
print(c,d,e,f,g)

2.5 2 2 40 10000

#### 문자열 
1. 큰 따옴표 : "Hello World!"
2. 작은 따옴표 : '대한민국'
3. 큰 따옴표 3개 : """Hello!"""
4. 작은 따옴표 3개 : ''' Life is too short, You need python'''

In [ ]:
myName = "Minseok Kong" #카멜
my_name = "공민석" #스네이크
MyName = "kiki" #파스칼
_my_name = "korea"
MYNAME = "God is love"
my2name = "12345"
#2myname = "9876" X
#my-name = "9876" X
#my name = "9876" X
myStr = '123' #str
myNum = 123 # int 
print(myStr, myNum)
print(type(myStr))
print(type(myNum))

123 123
<class 'str'>
<class 'int'>

In [ ]:
x,y,z = "포도", "딸기", "수박"
print(x)
print(y)
print(z)

포도
딸기
수박

In [ ]:
a=b=c = "오렌지"
print(a)
print(b)
print(c)

오렌지
오렌지
오렌지

In [ ]:
friuts = ["포도", "딸기", "수박"]
x,y,z = friuts
print(x)
print(y)
print(z)

포도
딸기
수박

In [ ]:
x = "Life"
y = "is"
z = "Beautiful"
print(x,y,z)
print(x+y+z)

Life is Beautiful
LifeisBeautiful

In [ ]:
a=1
b=2
c=3
print(a,b,c)
print(a+b+c)

1 2 3
6

#### 데이터 유형
* 텍스트
* 숫자
* 불(bool)

In [ ]:
a=100
b=200
sum = a+b
c=a-b
d=a*b
e=a/b
print(a,"+", b, "=", sum)
print(a, "-", b, "=", c)
print(a, "*", b, "=", d)
print(a, "/", b, "=", e)

100 + 200 = 300
100 - 200 = -100
100 * 200 = 20000
100 / 200 = 0.5

#### input() 함수 이용한 계산기

In [ ]:
a=int(input("첫번째 숫자를 입력하세요: "))
b=int(input("두번째 숫자를 입력하세요: "))
result = a+b
print(a,'+',b,'=',result )
result = a-b
print(a,'-',b,'=',result )
result = a*b
print(a,'*',b,'=',result )
result = a/b
print(a,'/',b,'=',result )

첫번째 숫자를 입력하세요: 20
두번째 숫자를 입력하세요: 2
20 + 2 = 22
20 - 2 = 18
20 * 2 = 40
20 / 2 = 10.0

In [ ]:
a=int(input("첫번째 숫자를 입력하세요: "))
b=int(input("두번째 숫자를 입력하세요: "))
result = a//b
print(a,'//',b,'=',result )
result = a%b
print(a,'%',b,'=',result )
result = a**b
print(a,'**',b,'=',result )

첫번째 숫자를 입력하세요: 10
두번째 숫자를 입력하세요: 4
10 // 4 = 2
10 % 4 = 2
10 ** 4 = 10000

In [ ]:
num1 = input("숫자입력1: ")
num2 = input("숫자입력2: ")
result = num1 + num2
print(type(num1))
print(num1,'+',num2,'=',result)

숫자입력1: 100
숫자입력2: 200
<class 'str'>
100 + 200 = 100200

#quiz: 
## 전화번호, 이름,무게를 입력받아 출력: 
#### 입력한 내용은 이름"00"
#### 전화번호"00" 입니다
#### 무게는 입력한 g수 x 10원=산출 금액 출력
#### 산출금액은 "00"원입니다

In [ ]:
a=input("전화번호를 입력하세요: ")
b=input("이름을 입력하세요: ")
c=int(input("무게를 입력하세요: "))
result=a
print("전화번호는",result,"입니다" )
result=b
print("이름은",result,"입니다" )
result=c
print("무게는",result,"g입니다" )
result=c*10
print("산출금액은",result,"원입니다" )

전화번호를 입력하세요: 010 1234 5678
이름을 입력하세요: 공민석
무게를 입력하세요: 60
전화번호는 010 1234 5678 입니다
이름은 공민석 입니다
무게는 60 g입니다
산출금액은 600 원입니다

#### 2. print() 서식 출력

In [ ]:
print("%d" % 123)
print("%5d" % 123)
print("%05d" % 123)

print("%f" % 123.45)
print("%7.1f" % 123.45)
print("%7.3f" % 123.45)

print("%s" % "대한민국")
print("%6s" % "대한민국")

123
  123
00123
123.450000
  123.5
123.450
대한민국
  대한민국

#### Format 함수 : 순서 지정 가능

In [ ]:
print("{0:d}{1:5d}{2:05d}".format(123,456,789))

123  45600789

In [ ]:
print("{2:d}{1:5d}{0:05d}".format(123,456,789))

789  45600123

#### 서식 출력

In [ ]:
print("\n줄바꿈\n연습입니다.")

줄바꿈
연습입니다.

In [ ]:
print("\t탭키\t연습")

	탭키	연습

In [ ]:
print("글자가 \"강조\"되는 효과1")
print("글자가 \'강조\'되는 효과2")
print("역슬레시 3개출력 \\\\\\")
print(r"\n \t \" \\를 그대로 출력") #그대로 출력

글자가 "강조"되는 효과1
글자가 '강조'되는 효과2
역슬레시 3개출력 \\\
\n \t \" \\를 그대로 출력

#### 관계연산자

In [ ]:
a,b = 10,20
print(a==b, a!=b, a>b, a<b, a>=b, a<=b)

False True False True False True

#### 논리연산자

In [ ]:
a = 99
print((a>100) and (a<200))
print((a>100)or(a<200))
print(not(a==100))

False
True
True

In [ ]:
if(123):
  print("참이면 보입니다")
if(0):
  print("거짓이면 안 보입니다")

참이면 보입니다

#### 퀴즈2 숫자 입력 받아 동전으로 바꿔주는 프로그램 
#### (500원, 100원, 50원, 10원)

In [ ]:
bill,c500,c100,c50,c10 = 0,0,0,0,0
bill=int(input("바꿀돈은?:"))
c500 = bill//500
bill%=500
c100=bill//100
bill%=100
c50=bill//50
bill%=50
c10=bill//10
bill%=10
print("500원짜리:%d개" % c500)
print("100원짜리:%d개" % c100)
print("50원짜리:%d개" % c50)
print("10원짜리:%d개" % c10)
print("잔돈:%d원" % bill)

바꿀돈은?:1500
500원짜리:3개
100원짜리:0개
50원짜리:0개
10원짜리:0개
잔돈:0원

####조건문

In [ ]:
a=300
if(a<100):
  print("100보다 작음")
else:
  print("100보다 크다")
print("프로그램 끝")

100보다 크다
프로그램 끝

In [ ]:
#홀짝 구분
a=int(input("정수를 입력하세요:"))
if(a%2==0):
  print("짝수")
else:
  print("홀수")

정수를 입력하세요:3
홀수

In [ ]:
a=120
if(a>50):
  if(a<100):
    print("50<a<100")
  else:
    print("a>100")
else:
  print("a<50")

a>100

In [ ]:
fruit=['사과','배','감','포도']
fruit. append('딸기')
if '딸기' not in fruit :
  print("딸기가 있습니다")
print("딸기가 없음") 
print(fruit)

딸기가 없음
['사과', '배', '감', '포도', '딸기']

In [ ]:
fruit=['사과','배','감','포도']
fruit. append('딸기')
if '딸기' in fruit :
  print("딸기가 있습니다")
print(fruit)

딸기가 있습니다
['사과', '배', '감', '포도', '딸기']

In [ ]:
import random

number=[]
for num in range(0,7):
  number.append(random.randrange(1,46))
print("생성된 리스트", number)

생성된 리스트 [23, 13, 37, 24, 28, 30, 21]

#### 반복문

In [ ]:
for i in range(0,3,1): #시작값, 끝값+1,증가값
  print("안녕하세요") #반복내용
  print(i)
print("반갑습니다")

0 안녕하세요
1 안녕하세요
2 안녕하세요
반갑습니다

In [ ]:
for i in range(0,3,1): #시작값, 끝값+1,증가값
  print("%d 안녕하세요"% i) #반복내용
  #print(i)
print("반갑습니다")

0 안녕하세요
1 안녕하세요
2 안녕하세요
반갑습니다

In [ ]:
for i in range(1,9,1):
  print("%d "% i, end="")
print("\n")
for i in range(1,9,1):
  print("%d"% i, end=" ")

1 2 3 4 5 6 7 8

1 2 3 4 5 6 7 8

In [ ]:
sum=0
for i in range(1,11,1):
  sum=sum+i
print("1~10까지 합계:%d" % sum)

1~10까지 합계:55

#### quiz3 : 숫자 입력 받아 1부터 입력된 숫자까지의 합, 곱

In [ ]:
sum,num=0,0
num=int(input("숫자를 입력하세요:"))
for i in range(1,num+1):
  sum=sum+i
print("1~num까지 합:%d" % sum)

숫자를 입력하세요:9
1~num까지 합:45

중첩 for문

In [ ]:
i,j,k=0,0,0
k=int(input("구구단 단수 입력"))
for i in range(1,10,1):
  print("%d x %d=%2d" %(k,i,k*i))
print("")

구구단 단수 입력9
9 x 1= 9
9 x 2=18
9 x 3=27
9 x 4=36
9 x 5=45
9 x 6=54
9 x 7=63
9 x 8=72
9 x 9=81

In [ ]:
i,j,k=0,0,0
for i in range(2,6,1):
  for j in range(1,10,1):
    print("%d x %d=%2d" %(i,j,i*j))
print("")

2 x 1= 2
2 x 2= 4
2 x 3= 6
2 x 4= 8
2 x 5=10
2 x 6=12
2 x 7=14
2 x 8=16
2 x 9=18
3 x 1= 3
3 x 2= 6
3 x 3= 9
3 x 4=12
3 x 5=15
3 x 6=18
3 x 7=21
3 x 8=24
3 x 9=27
4 x 1= 4
4 x 2= 8
4 x 3=12
4 x 4=16
4 x 5=20
4 x 6=24
4 x 7=28
4 x 8=32
4 x 9=36
5 x 1= 5
5 x 2=10
5 x 3=15
5 x 4=20
5 x 5=25
5 x 6=30
5 x 7=35
5 x 8=40
5 x 9=45

#### 과제 2,3,4,5단 옆줄에 6,7,8,9단

In [ ]:
i,j=0,0
for i in range(2,6,1):
  for j in range(1,10,1):
    print("%d x %d=%2d \t" %(i,j,i*j), end='')
print("")

a,b=0,0
for a in range(6,10,1):
  for b in range(1,10,1):
    print("%d x %d=%2d \t" %(a,b,a*b), end='')
print("")

2 x 1= 2 	2 x 2= 4 	2 x 3= 6 	2 x 4= 8 	2 x 5=10 	2 x 6=12 	2 x 7=14 	2 x 8=16 	2 x 9=18 	3 x 1= 3 	3 x 2= 6 	3 x 3= 9 	3 x 4=12 	3 x 5=15 	3 x 6=18 	3 x 7=21 	3 x 8=24 	3 x 9=27 	4 x 1= 4 	4 x 2= 8 	4 x 3=12 	4 x 4=16 	4 x 5=20 	4 x 6=24 	4 x 7=28 	4 x 8=32 	4 x 9=36 	5 x 1= 5 	5 x 2=10 	5 x 3=15 	5 x 4=20 	5 x 5=25 	5 x 6=30 	5 x 7=35 	5 x 8=40 	5 x 9=45
6 x 1= 6 	6 x 2=12 	6 x 3=18 	6 x 4=24 	6 x 5=30 	6 x 6=36 	6 x 7=42 	6 x 8=48 	6 x 9=54 	7 x 1= 7 	7 x 2=14 	7 x 3=21 	7 x 4=28 	7 x 5=35 	7 x 6=42 	7 x 7=49 	7 x 8=56 	7 x 9=63 	8 x 1= 8 	8 x 2=16 	8 x 3=24 	8 x 4=32 	8 x 5=40 	8 x 6=48 	8 x 7=56 	8 x 8=64 	8 x 9=72 	9 x 1= 9 	9 x 2=18 	9 x 3=27 	9 x 4=36 	9 x 5=45 	9 x 6=54 	9 x 7=63 	9 x 8=72 	9 x 9=81

In [ ]:
a,b=0,0
for a in range(1,10,1):
  for b in range(2,6,1):
    print("%d x %d = %2d" % (b,a,a*b), end='\t')
  print("")
print("\n")

i,j=0,0
for i in range(1,10,1):
  for j in range(6,10,1):
    print("%d x %d = %2d" % (j,i,j*i), end='\t')
  print("")

2 x 1 =  2	3 x 1 =  3	4 x 1 =  4	5 x 1 =  5
2 x 2 =  4	3 x 2 =  6	4 x 2 =  8	5 x 2 = 10
2 x 3 =  6	3 x 3 =  9	4 x 3 = 12	5 x 3 = 15
2 x 4 =  8	3 x 4 = 12	4 x 4 = 16	5 x 4 = 20
2 x 5 = 10	3 x 5 = 15	4 x 5 = 20	5 x 5 = 25
2 x 6 = 12	3 x 6 = 18	4 x 6 = 24	5 x 6 = 30
2 x 7 = 14	3 x 7 = 21	4 x 7 = 28	5 x 7 = 35
2 x 8 = 16	3 x 8 = 24	4 x 8 = 32	5 x 8 = 40
2 x 9 = 18	3 x 9 = 27	4 x 9 = 36	5 x 9 = 45


6 x 1 =  6	7 x 1 =  7	8 x 1 =  8	9 x 1 =  9
6 x 2 = 12	7 x 2 = 14	8 x 2 = 16	9 x 2 = 18
6 x 3 = 18	7 x 3 = 21	8 x 3 = 24	9 x 3 = 27
6 x 4 = 24	7 x 4 = 28	8 x 4 = 32	9 x 4 = 36
6 x 5 = 30	7 x 5 = 35	8 x 5 = 40	9 x 5 = 45
6 x 6 = 36	7 x 6 = 42	8 x 6 = 48	9 x 6 = 54
6 x 7 = 42	7 x 7 = 49	8 x 7 = 56	9 x 7 = 63
6 x 8 = 48	7 x 8 = 56	8 x 8 = 64	9 x 8 = 72
6 x 9 = 54	7 x 9 = 63	8 x 9 = 72	9 x 9 = 81

# CH3. 자료형 
## 1. 인덱스와 슬라이싱

In [ ]:
L = [0,1,2,3,4,5,6,7,8,9]
print(L[1])

1

In [ ]:
L = [0,1,2,3,4,5,6,7,8,9]
print(L[-2])

8

In [ ]:
L = [0,1,2,3,4,5,6,7,8,9]
print(L[0:8:3])

[0, 3, 6]

In [ ]:
L = [0,1,2,3,4,5,6,7,8,9]
print(len(L))
print(L[len(L)-4])

10
6

In [ ]:
L = [0,1,2,3,4,5,6,7,8,9]
L[0] = 99
L[9] = '가나다'
L[1] = [1,2,3,4,]
print(L)
print(L[9])
print(L[1])

[99, [1, 2, 3, 4], 2, 3, 4, 5, 6, 7, 8, '가나다']
가나다
[1, 2, 3, 4]

In [ ]:
a=[1,2,3]
b=[4,5,6]
c=a+b
print(a+b)
print(c)
print(a*3)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [ ]:
L=[1,2,3,4,5]
print(L)
L.append(6) #리스트 뒤에 추가
print(L)
L.remove(3) #해당 요소값을 삭제
print(L)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]
[1, 2, 4, 5, 6]

In [ ]:
k=['a','b','c','d']
k.remove('d')
print(k)

['a', 'b', 'c']

In [ ]:
k="God is love!"
print(k[:3])
print(k[6:])
print(k[-7:-2])

God
 love!
s lov

In [ ]:
k="  God is love!"
print(k.upper())
print(k.lower())
print(k.strip())

  GOD IS LOVE!
  god is love!
God is love!

In [ ]:
a="  God is love!  "
print(a.split(","))

['  God is love!  ']

In [ ]:
a=["apple","banana","cherry"]
a.append("melon")
print(a)

['apple', 'banana', 'cherry', 'melon']

In [ ]:
a=["apple","banana","cherry"]
a.insert(1,"melon") # 지정한 위치에 삽입
print(a)

['apple', 'melon', 'banana', 'cherry']

In [ ]:
a=["apple","banana","cherry"]
a.remove("cherry") # 해당 요소 삭제
print(a)

['apple', 'banana']

In [ ]:
a=["apple","banana","cherry"]
a.pop() # 맨뒤 값 삭제
print(a)
a.pop(1) #지정한 위치 삭제 
print(a)

['apple', 'banana']
['apple']

In [ ]:
a=["apple","banana","cherry"]
del a[0]
print(a)
a.clear()   #del a 
print(a)

['banana', 'cherry']
[]

In [ ]:
fruit=["apple","banana","cherry"]
for x in fruit:
  print(x)

apple
banana
cherry

In [ ]:
fruit=["apple","banana","cherry"]
for i in range(len(fruit)):
  print(fruit)

['apple', 'banana', 'cherry']
['apple', 'banana', 'cherry']
['apple', 'banana', 'cherry']

# SORT

In [ ]:
a=[5,3,6,7,8,1,9,2,0]
a.sort() # 무작위로 배열되어 있는 숫자를 작은 순서대로 배열
print(a)

[0, 1, 2, 3, 5, 6, 7, 8, 9]

In [ ]:
a=[5,3,6,7,8,1,9,2,0,4]
a.sort(reverse=True) 
print(a)
a.sort()
print(a)

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
fruit=["banana","apple","Kiwi","cherry","Melon"]
fruit.sort() #대문자부터 정렬
print(fruit)
fruit.sort(key=str.lower) #대소문자 구분 X
print(fruit)
fruit.reverse() #반대로 정렬
print(fruit)

['Kiwi', 'Melon', 'apple', 'banana', 'cherry']
['apple', 'banana', 'cherry', 'Kiwi', 'Melon']
['Melon', 'Kiwi', 'cherry', 'banana', 'apple']

In [ ]:
# list 복사
fruit=["banana","apple","Kiwi","cherry","Melon"]
myList=fruit.copy()
print(myList)
cpList=list(fruit)
print(cpList)

['banana', 'apple', 'Kiwi', 'cherry', 'Melon']
['banana', 'apple', 'Kiwi', 'cherry', 'Melon']

# 2. Tuple

In [ ]:
l=[1,2,3]
t=(4,5,6)
l[0]=5
print(l)
l[0]=1
print(t)

[5, 2, 3]
(4, 5, 6)

In [ ]:
f=["banana","apple","Kiwi","cherry","Melon"]
print(len(f))

5

In [ ]:
t=("apple",)
print(t)
print(type(t))
f=("melon") #튜플로 인식하기 위해서는 "," 필요
print(f)
print(type(f))

('apple',)
<class 'tuple'>
melon
<class 'str'>

In [ ]:
f=["banana","apple","Kiwi","cherry","Melon"]
print(f[:4])
print(f[2:])

['banana', 'apple', 'Kiwi', 'cherry']
['Kiwi', 'cherry', 'Melon']

In [ ]:
f=["banana","apple","Kiwi","cherry","Melon"]
if "apple" in f:
  print("Yes, 'apple' is in")
else:
  print("No")

Yes, 'apple' is in

# list ↔ tuple

In [ ]:
firm=['samsung','LG','SK']
tdata=tuple(firm)
print(firm)
print(tdata)

['samsung', 'LG', 'SK']
('samsung', 'LG', 'SK')

In [ ]:
# tuple에 추가
t=["banana","apple","Kiwi","cherry","Melon"]
y=list(t)
y.append("Orange")
t=tuple(y)
print(t)

('banana', 'apple', 'Kiwi', 'cherry', 'Melon', 'Orange')

In [ ]:
t=("apple","banana","melon")
q=("orange",) # 값이 하나는 뒤에 , 
t+=q
print(t)

('apple', 'banana', 'melon', 'orange')

In [ ]:
t=('apple','banana','melon','kiwi')
l=list(t)
l.remove('kiwi')
t=tuple(l)
print(t)

('apple', 'banana', 'melon')

# dict 사전자료형

In [ ]:
d={
    'a':1,
    'b':2,
    'c':3,
}
print(d)
print(d.keys())
print(d.values())
print(d.items())

{'a': 1, 'b': 2, 'c': 3}
dict_keys(['a', 'b', 'c'])
dict_values([1, 2, 3])
dict_items([('a', 1), ('b', 2), ('c', 3)])

In [ ]:
car={
    "brand":"BMW",
    "model":"GT",
    "year":1988
}
print(car)
print(len(car))
car["year"]=2000
car['item']=312 #있는 것은 값을 바꾸고 없는 것은 추가
car.update({"color":"red"})
print(car)

{'brand': 'BMW', 'model': 'GT', 'year': 1988}
3
{'brand': 'BMW', 'model': 'GT', 'year': 2000, 'item': 312, 'color': 'red'}

In [ ]:
car={
    "brand":"BMW",
    "model":"GT",
    "year":1988
}
car.popitem()
print(car)

{'brand': 'BMW', 'model': 'GT'}

In [ ]:
car={
    "brand":"BMW",
    "model":"GT",
    "year":1988
}
car,clear()
del car

#loop

In [ ]:
car={
    "brand":"BMW",
    "model":"GT",
    "year":1988
}
for x in car.keys():
  print(car[x])

BMW
GT
1988

In [ ]:
car={
    "brand":"BMW",
    "model":"GT",
    "year":1988
}
for x in car.values():
  print(x)

BMW
GT
1988

In [ ]:
car={
    "brand":"BMW",
    "model":"GT",
    "year":1988
}
for x,y in car.items():
  print(x,y)

brand BMW
model GT
year 1988

In [ ]:
car={
    "brand":"BMW",
    "model":"GT",
    "year":1988
}
myCar=car.copy()
print(myCar)

{'brand': 'BMW', 'model': 'GT', 'year': 1988}

In [ ]:
car={
    "brand":"BMW",
    "model":"GT",
    "year":1988
}
myCar=dict(car)
print(myCar)

{'brand': 'BMW', 'model': 'GT', 'year': 1988}

In [ ]:
name1={"name":"홍길동","year":2001}
name2={"name":"갑돌이","year":2010}
name3={"name":"갑순이","year":2003}
family={
    "name1":name1,
    "name2":name2,
    "name3":name3
        }
print(family)

{'name1': {'name': '홍길동', 'year': 2001}, 'name2': {'name': '갑돌이', 'year': 2010}, 'name3': {'name': '갑순이', 'year': 2003}}

## CH4 조건문, 반복문

### 중첩 if문

In [ ]:
score=int(input("점수를 입력해 주세요: "))
if (score>100):
  print("0~100까지의 숫자로 입력하세요")
else:
  if (score>=90):
   print("A")
  elif (score>=80):
   print("B")
  elif (score>=70):
   print("C")
  elif (score>=60):
   print("D")
  else:
   print("F")
  print("학점입니다")

점수를 입력해 주세요: 89
B
학점입니다

In [ ]:
score=int(input("점수를 입력해 주세요: "))
if (score>100):
  print("0~100까지의 숫자로 입력하세요")
else:
  if (score>=90):
   print("점수: %3d A"%score)
  elif (score>=80):
   print("B")
  elif (score>=70):
   print("C")
  elif (score>=60):
   print("D")
  else:
   print("F")
  print("점수: %3d"%score)

점수를 입력해 주세요: 89
B
점수:  89

In [ ]:
import random

numbers=[]
for num in range(0,10):
  numbers.append(random.randrange(0,10))

  print("생성된 리스트", numbers)

  for num in range(0,10):
    if num not in numbers:
      print("숫자 %d는 리스트에 없음" %num)
    else:
      print("숫자 %d는 리스트에 있음음" %num)

In [ ]:
select, answer, numStr, num1, num2 = 0,0,"",0,0
select = int(input("1.입력한 수식 계산 2.두수의 합:"))
if select ==1:
  numStr = input("*** 수식을 입력하세요:")
  answer = eval(numStr) # 1+2, "string"+"str"
  print("%s 결과는 %5.1f입니다. " %(numStr,answer))
elif select==2:
  num1 = int(input("*** 첫번째 숫자를 입력하세요: "))
  num2 = int(input("*** 두번째 숫자를 입력하세요: "))
  for i in range(num1,num2+1):
    answer = answer+i
  print("%d+%d는 %d입니다" %(num1,num2,answer))
else:
  print("1 또는 2만 입력하세요.")

#### for & while 반복문

In [ ]:
for i in range(0,3,1):
  print("안녕!")

In [ ]:
for i in range[0,3,1]:
  print("안녕@")

In [ ]:
for i in range(0,3,1):
  for j in range(0,5,1):
    print("i:%d, j:%d" %(i,j))

In [ ]:
for i in range(1,4,1):
  for j in range(1,3,1):
    print("i:%d, j:%d" %(i,j))

i:1, j:1
i:1, j:2
i:2, j:1
i:2, j:2
i:3, j:1
i:3, j:2

In [ ]:
i,j = 0,0
for i in range(2,10,1):
  for j in range(1,10,1):
    print(" %d x %d = %2d " %(i,j,i*j), end="")
  print("")

 2 x 1 =  2  2 x 2 =  4  2 x 3 =  6  2 x 4 =  8  2 x 5 = 10  2 x 6 = 12  2 x 7 = 14  2 x 8 = 16  2 x 9 = 18
 3 x 1 =  3  3 x 2 =  6  3 x 3 =  9  3 x 4 = 12  3 x 5 = 15  3 x 6 = 18  3 x 7 = 21  3 x 8 = 24  3 x 9 = 27
 4 x 1 =  4  4 x 2 =  8  4 x 3 = 12  4 x 4 = 16  4 x 5 = 20  4 x 6 = 24  4 x 7 = 28  4 x 8 = 32  4 x 9 = 36
 5 x 1 =  5  5 x 2 = 10  5 x 3 = 15  5 x 4 = 20  5 x 5 = 25  5 x 6 = 30  5 x 7 = 35  5 x 8 = 40  5 x 9 = 45
 6 x 1 =  6  6 x 2 = 12  6 x 3 = 18  6 x 4 = 24  6 x 5 = 30  6 x 6 = 36  6 x 7 = 42  6 x 8 = 48  6 x 9 = 54
 7 x 1 =  7  7 x 2 = 14  7 x 3 = 21  7 x 4 = 28  7 x 5 = 35  7 x 6 = 42  7 x 7 = 49  7 x 8 = 56  7 x 9 = 63
 8 x 1 =  8  8 x 2 = 16  8 x 3 = 24  8 x 4 = 32  8 x 5 = 40  8 x 6 = 48  8 x 7 = 56  8 x 8 = 64  8 x 9 = 72
 9 x 1 =  9  9 x 2 = 18  9 x 3 = 27  9 x 4 = 36  9 x 5 = 45  9 x 6 = 54  9 x 7 = 63  9 x 8 = 72  9 x 9 = 81

In [ ]:
i=0
while i<3:
  print("%d:while문 " %i)
  i=i+1

0:while문
1:while문
2:while문

In [ ]:
# Q 1부터 10까지 합을 while문으로
i, hap = 0,0
i =1
while i<11:
  hap=hap+i
  i=i+1

print("1부터 10까지의 합: %d" %hap)

1부터 10까지의 합: 55

In [ ]:
# Q 1부터 10까지 합을 for문으로
i, hap = 0,0
for i in range(1,11,1):
  hap=hap+i

print("1부터 10까지의 합: %d" %hap)

1부터 10까지의 합: 55

In [ ]:
# while True:
print("무한루프", end='')

무한루프

In [ ]:
#break
for i in range(1,100):
  print("for문 %d 실행" %i)
  break
print("break 빠짐")

for문 1 실행
break 빠짐

In [ ]:
hap=0
a,b=0,0
while True:
  a = int(input("덧셈 첫번째 수 입력: "))
  if a==0:
    break
  b = int(input("덧셈 두번째 수 입력: "))
  hap=a+b
  print("%d + %d = %d" %(a,b,a+b))

덧셈 첫번째 수 입력: 4
덧셈 두번째 수 입력: 89
4 + 89 = 93
덧셈 첫번째 수 입력: 0

In [ ]:
#continue
hap, i = 0,0
for i in range(1,101):
  if i % 3 == 0:
    continue 
  hap+=i

print("1~100 합(3의배수제외): %d" %hap)

1~100 합(3의배수제외): 3367

In [ ]:
#continue
hap, i = 0,0
for i in range(1,11):
  if i % 2 == 0:
    print("i:%d" %i)
    continue 
  hap+=i

print("1~10 합(2의배수제외): %d" %hap)

i:2
i:4
i:6
i:8
i:10
1~10 합(2의배수제외): 25

In [ ]:
fruits=["사과","바나나","체리"]
for x in fruits:
  if x =="바나나":
    continue
  print(x)

사과
체리

In [ ]:
for x in range(6):
  print(x)
else:
  print("끝")

0
1
2
3
4
5
끝

In [ ]:
for x in range(6):
  if x ==3: break
  print(x)
else:
  print("")

0
1
2

In [ ]:
for x in [0,1,2]:
  pass

## 함수

In [ ]:
#. 두수를 더하는 함수
def plus(v1,v2):
  result=0
  result=v1+v2
  return result

hap=0
hap=plus(10,20)
print("10+20 plus() 처리 결과는 %d" %hap)
hap=plus(20,30)
print("20+30 plus() 처리 결과는 %d" %hap)

In [66]:
# 계산기 코드
def calc(v1,v2,op):
  result = 0
  if op == '+':
    result = v1+v2
  elif op == '-':
    result = v1-v2
  elif op == '*':
    result = v1*v2
  elif op == '**':
    result = v1**v2
  return result

rst=0
var1, var2, opr =0,0,""
opr = input("+,-,*,** 입력:") 
var1 = int(input("1번째 수 입력: "))
var2 = int(input("2번째 수 입력: "))
rst = calc(var1,var2,opr)
print("계산기 %d %s %d = %d" %(var1,opr,var2,rst))

+,-,*,** 입력:**
1번째 수 입력: 4
2번째 수 입력: 7
계산기 4 ** 7 = 16384

## 과제 0으로 나누려고하면 계산 되지 않게 메세지 출력,
## ** 제곱 연산자 추가(숫자1,연산자,숫자2) 계산기함수 만들기

# 전역변수와 지역변수

In [67]:
def func1():
  a=10 #지역변수
  print("func1()에서 a값 %d" %a)
def func2(): 
  print("func2()에서 a값 %d" %a)

a=20 #전역변수
func1()
func2()

func1()에서 a값 10
func2()에서 a값 20

In [ ]:
# 계산기 코드
def calc(v1,v2,op):
  result = 0
  if op == '+':
    result = v1+v2
  elif op == '-':
    result = v1-v2
  elif op == '*':
    result = v1*v2
  elif op == '**':
    result = v1**v2
  elif op == '/':
    result = v1/v2
  
  return result

rst=0
var1, var2, opr =0,0,""
opr = input("+,-,*,/,** 입력:") 
var1 = int(input("1번째 수 입력: "))
var2 = int(input("2번째 수 입력: "))
rst = calc(var1,var2,opr)
print("계산기 %d %s %d = %d" %(var1,opr,var2,rst))