<a href="https://colab.research.google.com/github/minseok203/python/blob/main/py_B_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **CH1 파이썬 문법**

## 자료형
#### 숫자형
정수 : 123, -2, 0\
실수 : 123, 45, -432, 6.2e9\
8진수 : 0o456, 0o123 \
16진수 : 0xFF, 0x00 \

In [1]:
a=10
b=20
c=a+b
print(c)

30

#### 변수
* 문자 또는 밑줄로 시작 (beta, _kim)
* 대소문자를 구분한다 (sum, Sum, SUM) → 다 다르게 인식
* 영문자,숫자,밑줄 (A-z,0-9,_)
* 파이썬 키워드는 사용불가

In [5]:
a=10
b=4
c=a/b #나눗셈
d=a//b #몫
e=a%b #나머지
f=a*b #곱셈
g=a**b #제곱
print(c,d,e,f,g)

2.5 2 2 40 10000

#### 문자열 
1. 큰 따옴표 : "Hello World!"
2. 작은 따옴표 : '대한민국'
3. 큰 따옴표 3개 : """Hello!"""
4. 작은 따옴표 3개 : ''' Life is too short, You need python'''

In [8]:
myName = "Minseok Kong" #카멜
my_name = "공민석" #스네이크
MyName = "kiki" #파스칼
_my_name = "korea"
MYNAME = "God is love"
my2name = "12345"
#2myname = "9876" X
#my-name = "9876" X
#my name = "9876" X
myStr = '123' #str
myNum = 123 # int 
print(myStr, myNum)
print(type(myStr))
print(type(myNum))

123 123
<class 'str'>
<class 'int'>

In [9]:
x,y,z = "포도", "딸기", "수박"
print(x)
print(y)
print(z)

포도
딸기
수박

In [12]:
a=b=c = "오렌지"
print(a)
print(b)
print(c)

오렌지
오렌지
오렌지

In [15]:
friuts = ["포도", "딸기", "수박"]
x,y,z = friuts
print(x)
print(y)
print(z)

포도
딸기
수박

In [16]:
x = "Life"
y = "is"
z = "Beautiful"
print(x,y,z)
print(x+y+z)

Life is Beautiful
LifeisBeautiful

In [17]:
a=1
b=2
c=3
print(a,b,c)
print(a+b+c)

1 2 3
6

#### 데이터 유형
* 텍스트
* 숫자
* 불(bool)

In [21]:
a=100
b=200
sum = a+b
c=a-b
d=a*b
e=a/b
print(a,"+", b, "=", sum)
print(a, "-", b, "=", c)
print(a, "*", b, "=", d)
print(a, "/", b, "=", e)

100 + 200 = 300
100 - 200 = -100
100 * 200 = 20000
100 / 200 = 0.5

#### input() 함수 이용한 계산기

In [22]:
a=int(input("첫번째 숫자를 입력하세요: "))
b=int(input("두번째 숫자를 입력하세요: "))
result = a+b
print(a,'+',b,'=',result )
result = a-b
print(a,'-',b,'=',result )
result = a*b
print(a,'*',b,'=',result )
result = a/b
print(a,'/',b,'=',result )

첫번째 숫자를 입력하세요: 20
두번째 숫자를 입력하세요: 2
20 + 2 = 22
20 - 2 = 18
20 * 2 = 40
20 / 2 = 10.0

In [23]:
a=int(input("첫번째 숫자를 입력하세요: "))
b=int(input("두번째 숫자를 입력하세요: "))
result = a//b
print(a,'//',b,'=',result )
result = a%b
print(a,'%',b,'=',result )
result = a**b
print(a,'**',b,'=',result )

첫번째 숫자를 입력하세요: 10
두번째 숫자를 입력하세요: 4
10 // 4 = 2
10 % 4 = 2
10 ** 4 = 10000

In [26]:
num1 = input("숫자입력1: ")
num2 = input("숫자입력2: ")
result = num1 + num2
print(type(num1))
print(num1,'+',num2,'=',result)

숫자입력1: 100
숫자입력2: 200
<class 'str'>
100 + 200 = 100200

#quiz: 
## 전화번호, 이름,무게를 입력받아 출력: 
#### 입력한 내용은 이름"00"
#### 전화번호"00" 입니다
#### 무게는 입력한 g수 x 10원=산출 금액 출력
#### 산출금액은 "00"원입니다

In [30]:
a=input("전화번호를 입력하세요: ")
b=input("이름을 입력하세요: ")
c=int(input("무게를 입력하세요: "))
result=a
print("전화번호는",result,"입니다" )
result=b
print("이름은",result,"입니다" )
result=c
print("무게는",result,"g입니다" )
result=c*10
print("산출금액은",result,"원입니다" )

전화번호를 입력하세요: 010 1234 5678
이름을 입력하세요: 공민석
무게를 입력하세요: 60
전화번호는 010 1234 5678 입니다
이름은 공민석 입니다
무게는 60 g입니다
산출금액은 600 원입니다